.experience-container{
    margin: 4rem 0;
    position: relative;
}

.experience-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

/* Adjust Arrow in the slider */
.slick-slider .slick-arrow {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    color: var(--color5);
    border-radius: 0.65rem;
    border: 1.5px solid var(--color5);
    background: #130f2a;
}

.slick-prev:before, .slick-next:before {
    font-size: 26px;
    line-height: 1.4;
    opacity: 1;
    color: var(--color5);
}

/* TODO This is not working */
@media (max-width: 1025px) {
    .slick-slider .slick-arrow .slick-next{
        right: 0px !important;
        z-index: 999 !important;
    }

    .slick-slider .slick-arrow .slick-prev {
        left: 0px !important;
        z-index: 999 !important;
    }
}