:root {
    --color1: #7c66e3; 
    --color2: #a993fe; 
    --color3: #7e61e7;
    --color4: #342864;
    --color5: #6751b9;
    --color6: #ac96ff;
    --color7: #7c5fe6;
    --color8: #aa94fe;
    --color9: rgba(103, 81, 185, 0.5);
    --color10: #3d3072;
    --color11: #a892fe;
    --color12: #8064e8;
    --color13: #423477;
}