.footer{
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(90deg, #3d3072 0% , #423477 100%);
    padding: 1rem;
}

.footer p{
    text-transform: capitalize;

}

.footer p a{
    color: white;
    text-decoration: underline;
}