.footer{
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(90deg, var(--color10) 0% , var(--color13) 100%);
    padding: 1rem;
}

.footer p{
    text-transform: capitalize;

}

.footer p a{
    color: white;
    text-decoration: underline;
}