.container{
/* max-width:1280px; */
/* min-height:100%;
margin: 0 auto; */
}

.content{
  /* max-width: 1300px;
  margin: 0 auto; */
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}


@media (max-width: 1300px){
  .content{
      padding: 0 1.5rem;
  }
}